<header class="header header-absolute">
  <nav class="navbar navbar-expand flex-md-row">
      <div class="container">
        <a class="navbar-brand" routerLink="/">
          ECommerce Site
        </a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav flex-row d-none d-md-flex ml-md-auto">
            <li class="nav-item">
              <button type="button" class="btn btn-default">
                <img src="assets/images/search-icon.png" width="20" alt="">
              </button>
            </li>
            <li class="nav-item">
              <a href="#" class="btn d-none d-lg-inline-block mb-3 mb-md-0 pr-md-4 pl-md-4 pt-md-2 pb-md-2">LOGIN</a>
            </li>
            <li class="nav-item">
              <a href="#" class="shadow btn btn-primary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3 pr-md-4 pl-md-4 pt-md-2 pb-md-2">SIGN UP</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
