.footer-links {
  text-align: right;
  padding-left: 0;
  margin-bottom: 5px;
  li {
      display: inline-block;
  }
  li+li {
      margin-left: 10px;
  }
  a {
      color: #495057;
      font-weight: 500;
  }
}

.social-links {
  img {
      width: 20px;
  }
}
footer {
  padding-top: 50px;
  padding-bottom: 100px;
}
