<div class="container main">
  <div class="row">
    <div class="col-3">
      <h3>Search</h3>
      <form [formGroup]="filterForm" (ngSubmit)="onSubmitSearch()">
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" formControlName="category" id="category">
            <option value="">All</option>
            <option value="{{c.id}}" *ngFor="let c of categories">{{c.categoryName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="brand">Brand</label>
          <select class="form-control" formControlName="brand" id="brand">
            <option value="">All</option>
            <option value="{{b.id}}" *ngFor="let b of brands">{{b.brandName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <select class="form-control" formControlName="color" id="color">
            <option value="">All</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="white">White</option>
          </select>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <select class="form-control" formControlName="price" id="price">
            <option value="">All</option>
            <option value="0-30000">0 - 30,000</option>
            <option value="30001-50000">30,001 - 50,000</option>
            <option value="50001-100000">50,001 - 100,000</option>
          </select>
        </div>
        <div class="form-group">
          <label>Action</label>
          <button type="submit" class="btn btn-primary form-control">Search</button>
        </div>
      </form>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-md-4" *ngFor="let p of products">
          <div class="card text-center product-item">
            <div class="card-header">
              <h3>{{p.productName}}</h3>
            </div>
            <div class="card-body">
              <img src="assets/images/car.jpeg" class="img-thumbnail" alt="...">
              <h4 class="card-title">{{p.price}} USD</h4>
              <h5>SKU: {{p.sku}}</h5>
              <div>Color: <span *ngFor="let c of p.attributes">{{c.attributeValue}},</span></div>
              <div class="col-4 offset-4">
                <a routerLink="/details/{{p.id}}">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
